body {
  background:#000000;
}

#after-submit {
  display:none;
}

#feed {
  font-family: "Helvetica", sans-serif;
  width: 100%;
  text-align: left;
  background: #000000;
  color:#99DDEE;
  opacity: .9;
  margin: 0px;
  padding: 10px;
}

#tag {
  height: 50px;
  font-size:1em;
  margin: 0px 10px;
}

#submit {
  height: 40px;
  font-size:.75em;
  margin: 0px 10px;
}

.tweet {
  height: 200px;
  padding: 10px;
}

.tracking {
  background: #99DDEE;
  width:100%;
  margin: 0px;
  height: 8em;
  padding: 10px;
}

.big {
  font-size: 2em;
  font-family: "Helvetica", sans-serif;
  opacity:.7;
  color: #000000;
}

h3 {
  font-size: 3em;
  font-family: "Helvetica", sans-serif;
  opacity: .8;
  color:#000000;
}

h4 {
  font-size: 3em;
  font-family: "Helvetica", sans-serif;

}

p {
  font-size: 2em;
}

ul{
  list-style-type: none;
}

.jcarousel {
    position: relative;
    overflow: hidden;
    /* You need at least a height, adjust this to your needs */
    height: 400px;
}

.jcarousel ul {
    height: 20000em;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
    height: 800px;
}